@import "tailwindcss";
html,body{
    font-family: var(--font-poppins), sans-serif;
    background: white;
}

/* Disable text selection */
* {
  user-select: none;
}

img {
  pointer-events: none;
  -webkit-user-drag: none;
}